body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    border: 0;

}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    padding-left: 140px;
    padding-right: 140px;

}

ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #F9FAF8;

}

.section1{
    background-color: #1f2937;
    display: flex;
    gap: 300px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 50px;
}

.hero{
    width: 400px;
    font-size: 48px;
    font-weight: bold;
    color:#F9FAF8;
}

.hero-secondary{
    width: 400px;
    font-size: 18px;
    color: #F9FAF8;
}

button{
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 25px;

}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 450px;
}

.squares{
    display: flex;
    justify-content: center;
    gap: 55px;
}
.image{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border-color: #3882F6;
    border-style: solid;
    background-color: white;
}

.content-box{
    width: 150px;
    height: auto;
    text-align: center;
}

.section3{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F3927;
    padding: 150px 1020px 75px 1020px;
    margin-bottom: 0;

}

.section3-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.author{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
em{
    font-weight: 100;
}

.section4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section4-content{
    width: 1300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    margin: 100px 0 100px 0;

    
}

button{
    border-color: white;
    border-style: solid;
    background-color: #3882F6;
    width: 150px;
    height: 40px;
    border-width: 1px;
    font-size: 20px;
    border-radius: 7px;
    margin-left: 300px;
}

.section4-content-within{
    display: flex;
    align-items: center;

}

.footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100px;
    align-content: center;
    justify-content: center;
    font-size: 18px;
    margin: 0;
}
